.label-pesquisa-achou {
    display: block;
    color: black;
}

.label-pesquisa-nao-achou {
    display: block;
    color: red;
}

img {
    min-height: 440px;
    max-height: 440px;    
    max-width: 100%;
}

@media only screen and (max-width: 992px) {
    img {
      min-height: auto;
    }
  }

@media only screen and (max-width: 576px) {
    img {
      min-height: auto;
      max-height: 320px;
    }
  }  