.label-pesquisa-achou {
    display: block;
    color: black;
}

.label-pesquisa-nao-achou {
    display: block;
    color: red;
}

img {
    max-height: 100%; 
    max-width: 100%;
}

@media only screen and (min-width: 992px) {
    img {
      min-height: 440px;
      height: 440px;
    }
  }